[submodule "vendor/cross-platform/assimp"]
	path = vendor/cross-platform/assimp
	url = https://github.com/assimp/assimp.git
[submodule "vendor/cross-platform/bullet3"]
	path = vendor/cross-platform/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "vendor/cross-platform/glew"]
	path = vendor/cross-platform/glew
	url = https://github.com/nigels-com/glew.git
[submodule "vendor/cross-platform/glfw"]
	path = vendor/cross-platform/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/cross-platform/glm"]
	path = vendor/cross-platform/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/cross-platform/ImGuizmo"]
	path = vendor/cross-platform/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "vendor/cross-platform/SPIRV-Cross"]
	path = vendor/cross-platform/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "vendor/cross-platform/yaml-cpp"]
	path = vendor/cross-platform/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "vendor/cross-platform/shaderc"]
	path = vendor/cross-platform/shaderc
	url = https://github.com/google/shaderc.git
[submodule "vendor/box2d"]
	path = vendor/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "vendor/DirectXTex"]
	path = vendor/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "MoravaEngine/src/Hazel"]
	path = MoravaEngine/src/Hazel
	url = https://github.com/dtrajko/Hazel-dev.git
[submodule "vendor/PhysX"]
	path = vendor/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX.git
[submodule "vendor/msdf-atlas-gen"]
	path = vendor/msdf-atlas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen.git
[submodule "vendor/FastNoise"]
	path = vendor/FastNoise
	url = https://github.com/Auburns/FastNoise
